In [1]:
# The Usual
import pandas as pd
import numpy as np

In [2]:
listings = pd.read_csv("listings.csv", usecols=['id', 'review_scores_rating'])
listings = listings.rename(columns={'id': 'listing_id'})

reviews = pd.read_csv("reviews.csv", usecols=['listing_id'])

In [3]:
df = pd.merge(listings, reviews, on='listing_id')

In [5]:
df.head()

   listing_id  review_scores_rating
0        3831                  90.0
1        3831                  90.0
2        3831                  90.0
3        3831                  90.0
4        3831                  90.0

In [13]:
df.describe()

         listing_id  review_scores_rating
count  1.166689e+06          1.165580e+06
mean   1.296548e+07          9.436372e+01
std    1.005105e+07          4.540814e+00
min    3.831000e+03          2.000000e+01
25%    3.768977e+06          9.200000e+01
50%    1.199379e+07          9.500000e+01
75%    2.070862e+07          9.800000e+01
max    3.855316e+07          1.000000e+02

In [6]:
topics = [(0,
  '0.037*"need" + 0.034*"time" + 0.031*"make" + 0.030*"place" + '
  '0.026*"amazing" + 0.023*"go" + 0.021*"get" + 0.019*"come" + '
  '0.018*"experience" + 0.018*"back"'),
 (1,
  '0.045*"room" + 0.023*"bed" + 0.018*"day" + 0.017*"night" + 0.015*"bathroom" '
  '+ 0.011*"little" + 0.011*"people" + 0.011*"bedroom" + 0.011*"arrival" + '
  '0.010*"small"'),
 (2,
  '0.070*"nice" + 0.069*"good" + 0.048*"really" + 0.042*"close" + 0.040*"walk" '
  '+ 0.032*"subway" + 0.029*"area" + 0.028*"neighborhood" + 0.026*"restaurant" '
  '+ 0.023*"lot"'),
 (3,
  '0.158*"great" + 0.138*"place" + 0.101*"host" + 0.078*"location" + '
  '0.058*"recommend" + 0.039*"easy" + 0.039*"clean" + 0.032*"super" + '
  '0.025*"check" + 0.023*"highly"'),
 (4,
  '0.152*"stay" + 0.061*"apartment" + 0.060*"would" + 0.054*"clean" + '
  '0.043*"comfortable" + 0.040*"definitely" + 0.031*"perfect" + 0.028*"space" '
  '+ 0.026*"well" + 0.025*"feel"')]

In [43]:
scores = df.groupby(['listing_id']).agg({'review_scores_rating' : 'sum'}/df.listing_id)
scores

            review_scores_rating
listing_id
3831                     25110.0
5022                       837.0
5099                      6675.0
5121                      4410.0
5178                     36769.0
...                          ...
38515988                   100.0
38523034                     0.0
38536193                     0.0
38541362                     0.0
38553155                     0.0

[38726 rows x 1 columns]

In [46]:
count = df['listing_id'].value_counts(ascending=)
count

30349243      1
24161365      1
10016832      1
10386831      1
34640201      1
           ...
8168619     566
10101135    605
891117      608
903972      618
9145202     654
Name: listing_id, Length: 38726, dtype: int64

# Average Score of listings
scores = {}

count = 0
while count < len(df):
    scores[1] = df['listing_id'][count]

In [8]:
# Percentage of keywords found in each comments
count = 0
for i in df[comments]

(0,
 '0.037*"need" + 0.034*"time" + 0.031*"make" + 0.030*"place" + 0.026*"amazing" + 0.023*"go" + 0.021*"get" + 0.019*"come" + 0.018*"experience" + 0.018*"back"')